:root{
  --primary-color: '#E4905C';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* body:before{
  content: ''; 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background:rgba(196, 196, 196, 0.1)
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}

/* Utility Classes */
.dark-background{
  background:url('./assets/images/Dark.jpg') no-repeat center center/cover;
}

.card-dark{
  background: rgba(126, 113, 113, 0.45);
  backdrop-filter: blur(2px);
  padding: 1.5rem;
  color: #fff;
}

.card-light{
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  color: black;
}

.image-box{
  width: 35rem; 
  height: 18rem; 
  border: 2px solid;
  font-size: 2rem;
  font-family: 'La Belle Aurore', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image-box:before{
  content: ''; 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background:rgba(0, 0, 0, 0.45)
}
.image-box > *{
  z-index: 1;
}

.image-card{
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 23rem;
  background: white;
  color: black;
  padding: 0.25rem;
  padding-bottom: 0.85rem;
}
.image-card > img{
  height: 20rem;
  width: 100%;
  border-radius: 5px;
}
.image-card > div{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.image-card p{
  align-self: start;
}
.image-card > p:last-child{
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.input-field{
  background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1)); 
  opacity: 0.5; 
  border-radius: 7px; 
  backdrop-filter: blur(30px);
  padding: 1rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  border: none;
}
.input-field:placeholder{
  color: white
}
.input-field:focus{
  outline: none;
}

.input-checkbox{
  margin-right: 0.5rem
}

.heading{
  font-size: 4rem;
  font-family: 'La Belle Aurore', cursive;
  font-weight: 400;
}

.input-label{
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

#login-page, #admin-page, .dark-background{
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.row-alignment{
  display: flex;
  justify-content: space-between;
}

.column-alignment{
  display: flex; 
  flex-direction: column;
  align-items: center;
}



/* Login Page */
#login-page{
  background: url('./assets/images/Login\ Page\ Edited.png') no-repeat center bottom/cover;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
  width: 40rem;
  padding: 2rem 5rem;
  margin-top: 2rem;
}

/* Categories Page */
#categories-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 4rem;
  margin: 5rem;
}

/* Navbar */
#navbar{
  /* background:rgb(126, 113, 113); */
  height: 5rem;
  width: 96rem;
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

#search-bar-wrapper{
  position: relative;
  margin-top: 1rem;
}

#search-bar-wrapper i{
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: grey;
}

#underbelly-icon{
  background: url('./assets/images/underbelly-express-icon.png') no-repeat center center;
  height: 100%;
  width: 5rem;
}

#search-bar{
  padding: 1rem;
  background: #f6f6f6;
  opacity: 89%;
  border-radius: 5px;
  width: 23rem;
}
#search-bar:focus{
  outline: none;
}

#navbar > div:last-child{
  width: 90%;
}

#navbar > div:last-child li{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

#navbar > div:last-child li:hover{
  color: #E4905C;
  cursor: pointer;
}

/* Side Panel */
#side-panel{
  background: #262A31;
  position: absolute;
  right: 0; 
  top: 0.5rem;
  height: 98.7%;
  width: 30rem;
  z-index: 2;
  padding: 2rem;
  color: rgb(209, 204, 204);
}

#side-panel p{
  font-size: 1.2rem;
}

#side-panel > *, #address-section > *{
  margin-bottom: 1.5rem;
}

#address-section{
  padding: 1rem 0;
  align-self: start;
  width: 100%;
}


/* Category Items */
#category-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}

/* Error Page */
#error-page{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%;
  width: 100%;
  color: black;
}

/* Admin Page */
#admin-page{
  background: #f3f3f3;
}

#category-section li{
  margin: 0.5rem;
  cursor: pointer;
}
